body{
  margin: 0;
  background-color: rgb(200, 115, 115);
  width: 100vw;
  overflow-y: none;
  
}

.greenText{
  color: #5A8F7B;
}

.textCenter{
  text-align: center;
}
.textEnd{
  text-align: end;
}


.btnSimple{
  margin: 0px 10%;
  background-color: rgb(50, 143, 123);
  font-size: 1.1em;
  padding: 10px 25px;
  color: white;
  transition: 0.3s ease;
  border: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}





.btnSimple:hover{
  background-color: rgb(47, 72, 88);
}