body{
  margin: 0;
  width: 100vw;
  overflow-y: none;
  
}

.greenText{
  color: #5A8F7B;
}

.textCenter{
  text-align: center;
}
.textEnd{
  text-align: end;
}

.loading{
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color:palevioletred;
}


.btnSimple{
  margin: 0px 10%;
  background-color: rgb(50, 143, 123);
  font-size: 1.1em;
  padding: 10px 25px;
  color: white;
  transition: 0.3s ease;
  border: none;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}


input[type=range] {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px auto;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #ffffff00;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #174239;
  border: 1px solid #000000;
  height: 20px;
  width: 28px;
  border-radius: 8px;
  background: #3FB59C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff00;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #174239;
  border: 1px solid #000000;
  height: 20px;
  width: 28px;
  border-radius: 8px;
  background: #3FB59C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  transition: 0.2s;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #174239;
  border: 1px solid #000000;
  height: 20px;
  width: 28px;
  border-radius: 8px;
  background: #3FB59C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}





.btnSimple:hover{
  background-color: rgb(47, 72, 88);
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  flex-direction: column;
}

.returnLink{
  color: white;
  text-decoration: none;
  font-size: 2em;
  transition: 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.returnLink::after{
  content: "";
  position: absolute;
  bottom: -40%;
  background-color: #3FB59C;
  height: 5px;
  width: 300px;
  transform: scaleX(0);
  transition: 0.3s ease;
}

.returnLink:hover{
  color: #3FB59C;
}

.returnLink:hover::after{
  transform: scaleX(1);
}